.wrapper {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title, .no_favorites_title {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  font-size: 2rem;
}

.title {
  text-transform: uppercase;
}

.title_LightTheme {
  color: var(--color-green-lightTheme);
}

.title_DarkTheme {
  color: var(--color-red-darkTheme);
}

.no_favorites_title {
  color: #a9a9a9;
}