.sign_container {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign_title {
  font-family: 'Nunito Sans', serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.sign_title_lightTheme {
  color: var(--color-green-lightTheme);
}

.sign_title_darkTheme {
  color: var(--color-red-darkTheme);
}