.people_list {
  display: flex;
  gap: 1rem;
  row-gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
}

.people_item {
  cursor: pointer;
  width: 19rem;
  transition: transform 0.3s ease;
}

.people_item:hover {
  transform: scale(1.05);
}

.person_photo {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.person_name_lightTheme:hover,
.person_name_lightTheme:focus {
  color: var(--color-green-lightTheme);
}

.person_name_darkTheme:hover,
.person_name_darkTheme:focus{
  color: var(--color-red-darkTheme);
}

.person_name {
  color: #a9a9a9;
  text-align: center;
  font-size: 1.5rem;
}