.search_container {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.search_title {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

.search_title_LightTheme {
  color: var(--color-green-lightTheme);
}

.search_title_DarkTheme {
  color: var(--color-red-darkTheme);
}

.form_wrapper {
  position: relative;
  display: inline-flex;
}

.input_wrapper {
  min-width: 30rem;
  padding: 10px 15px;
  border-radius: 1.5rem;
  transition: transform 0.3s ease;
}

.input_wrapper:focus {
  transform: scale(1.05);
}

.input_wrapper_LightTheme {
  border: var(--color-green-lightTheme) solid 1px;
  color: var(--color-green-lightTheme);
}

.input_wrapper_DarkTheme {
  border: var(--color-red-darkTheme) solid 1px;
  color: var(--color-red-darkTheme);
}
