.person_container {
  padding: 2rem 3rem;
}

.person_card {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 3rem;
  gap: 2rem;
  background-color: #ffff;
  max-width: 90rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.person_card_lightTheme {
  border: var(--color-lightGreen-lightTheme) solid 2px;
  border-radius: 1rem;
}

.person_card_darkTheme {
  border: var(--color-red-darkTheme) solid 2px;
  border-radius: 1rem;
}

.person_content,
.person_description {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.personFilmsWrapper {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_person {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  font-size: 2rem;
}

.title_person_lightTheme {
  color: var(--color-green-lightTheme);
}

.title_person_darkTheme {
  color: var(--color-red-darkTheme);
}

.btn_back_lightTheme,
.btn_back_darkTheme {
  margin-left: 10rem;
  padding: 0;
  width: auto;
  display: inline-flex;
  text-decoration: underline;
  background-color: none;
  border: none;
}

.btn_back_lightTheme:hover,
.btn_back_lightTheme:active {
  font-weight: 600;
  background-color: white;
  color: var(--color-green-lightTheme);
}

.btn_back_darkTheme:hover,
.btn_back_darkTheme:active {
  font-weight: 600;
  background-color: transparent;
  color: var(--color-red-darkTheme);
}

@media (max-width: 768px) {
  .person_content,
  .person_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn_back_lightTheme,
  .btn_back_darkTheme {
    margin-left: 5rem;
  }
}