.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header_top {
  padding: 0rem 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items:start;
}

.social_media_list {
  display: flex;
  justify-content: center;
  justify-self: start;
  gap: 2rem;
  flex-wrap: wrap;
}

.social_media_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.social_media_link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social_media_img {
  max-width: 1.7rem;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.social_media_link:hover
.social_media_img {
  transform: scale(1.2);
}

.logo {
  max-width: 18rem;
  object-fit: contain;
  justify-self: center;
}

.auth_container {
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  gap: 3rem;
}

.auth {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.auth_lightTheme {
  color: var(--color-lightGreen-lightTheme);
}

.auth_darkTheme {
  color: var(--color-lightRed-darkTheme);
}

.auth_lightTheme:hover {
  transform: scale(1.05);
}

.auth_darkTheme:hover {
  transform: scale(1.05);
}

.auth_logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation {
  padding: 0rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation_search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #a9a9a9;
}

.title_lightTheme:hover,
.title_lightTheme:focus,
.title_lightTheme_active {
  color: var(--color-green-lightTheme);
}

.title_darkTheme:hover,
.title_darkTheme:focus,
.title_darkTheme_active {
  color: var(--color-red-darkTheme);
}

.btn_themeToggle {
  margin-left: auto;
}

.favorite_сount {
  margin-left: 1rem;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.5rem;
  color: white;
  display: inline-block;
  text-align: center;
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-top: 0.1rem;
}

.favorite_сount_lightTheme {
  background-color: var(--color-lightGreen-lightTheme);
}

.favorite_сount_darkTheme {
  background-color: var(--color-red-darkTheme);
}

.hamburger_menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.bar {
  height: 4px;
  background-color: #a9a9a9;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.navigation_list {
  display: flex;
  gap: 8rem;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 992px) {
  .header_top {
    padding: 0rem 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1.6rem;
  }

  .social_media_list {
    justify-content: flex-start;
  }

  .logo {
    max-width: 12rem;
    margin: 0 auto;
  }

  .auth_container {
    justify-content: center;
  }

  .auth {
    font-size: 1.5rem;
  }

  .navigation {
    padding: 0rem 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation_list {
    gap: 4rem;
    flex-wrap: nowrap;
  }

  .title {
    font-size: 1.8rem;
  }

  .btn_themeToggle {
    margin-left: auto;
  }

  .favorite_сount {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .header_top {
    padding: 0rem 3rem;
    grid-template-columns: 1fr;
  }

  .auth_container {
    display: none;
  }

  .auth {
    font-size: 1.8rem;
  }

  .logo {
    max-width: 70rem;
  }

  .social_media_list {
    display: none;
  }

  .hamburger_menu {
    display: flex;
  }

  .navigation_list {
    display: none;
  }

  .navigation_list.open {
    display: flex;
    padding: 2rem 2rem 2rem 3rem;
    position: absolute;
    top: 9.3rem;
    left: 0rem;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 2rem;
    z-index: 99999;
  }

  .auth_logIn_icon {
    display: flex;
    justify-content: center;
    gap: 0.5rem
  }

  .bar.open:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
  }
}
