.wrapper {
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
}

.border_bottomDark {
  border-bottom: 1px solid #fff;
}

.border_bottomLight {
  border-bottom: 1px solid #000;
}