.wrapper {
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main_content {
  flex-grow: 1;
}

.border_bottom_darkTheme {
  border-bottom: 1px solid #fff;
}

.border_bottom_lightTheme {
  border-bottom: 1px solid #000;
}