*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #ffffff;
}

body.dark {
  background-color: #121212;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
