.people_container {
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media (max-width: 992px) {
  .people_container {
    padding: 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .people_container {
    padding: 1rem 2rem;
  }
}