.btn_nav_container {
  display: flex;
  gap: 1rem;
}

.btn_nav_lightTheme:hover,
.btn_nav_lightTheme:active {
  color: #ffff;
  background-color: var(--color-lightGreen-lightTheme);
  border: none;
}

.btn_nav_darkTheme:hover,
.btn_nav_darkTheme:active {
  color: #ffff;
  background-color: var(--color-lightRed-darkTheme);
  border: none;
}
